* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  background-color: rgb(116, 116, 116);
}

/* Images */
.img1 {
  background-image: url(img/vacation.jpg);
}
.img2 {
  background-image: url(img/fast-car.jpg);
}
.img3 {
  background-image: url(img/healthy-food.jpg);
}
.img4 {
  background-image: url(img/exercises.jpg);
}
.img5 {
  background-image: url(img/freedom.jpg);
}

.container {
  display: flex;
  width: 90vw;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;

  border-radius: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;

  flex: 0.5;

  position: relative;
  transition: flex 0.3s ease-in-out;
}

.slide h2 {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-shadow: 3px 3px #363636;
  opacity: 0;
}

.slide.active {
  flex: 4;
}

.slide.active h2 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .slide:nth-of-type(4),
  .slide:nth-of-type(5) {
    display: none;
  }

  .slide h2 {
    display: none;
  }
}
